.navContainer {
    margin-top: 35px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.backButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px; /* 아이콘 크기 */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: #121212;
  }

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #121212;
}
