.outGrid {
    height: 100%;
    width: 100%;
    position: absolute;   
    background-color: #292929;
}

.innerGrid {
    margin: 1rem;
}

.mainText {
    color: white;
    margin-top: 5rem;
    margin-left: 1rem;
}

.description {
    color: #c6c6c6;
    margin-left: 1rem;
    margin-bottom: 62px;
}

.allCheckBoxGrid {
    color: white;
    font-size: 10px;
    margin: 1rem;
    margin-bottom: 1rem;
    background-color: #4E4D4D;
    padding-bottom: .75rem;
    padding-top: 0.75rem;
    border-radius: 5px;
}

.checkBoxGrid {
    color: white;
    font-size: 10px;
    margin: 1rem;
}

.checkMark {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.smallDescription {
    color: white;
    font-size: 10px;
    margin: 1rem;
    margin-bottom: 56px;
}
.nicknameInputContainer {
    position: relative;
    width: 100%;
}
.textBox {
    background-color: #4E4D4D;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 25px;
    padding-right: 30px; /* Space for the close icon */
}
.closeIcon {
    position: absolute;
    top: 40%;
    right: 10px; /* Adjust the space from the right side */
    transform: translateY(-50%); /* Vertically center the icon */
    cursor: pointer;
}
.nextButton {
    width: 100%;
}

.deviderLine {
    width: 95%;
    border-bottom: 1px solid #aaa;
    line-height: 0.1em;
    margin-top: 68px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.icon {
    color: white;
}