.outGrid {
    padding: 20px;
    background-color: #000000; /* 배경 색 검정 */
    color: white;
    min-height: 100vh;
  }
  
  .mainText {
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 62px;
  }
  
  .allCheckBoxGrid {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 15px 0;
    margin-bottom: 24px;
    padding: 10px;
    border-radius: 8px;
    background-color: #333333; /* 박스 배경 색 */
    cursor: pointer;
  }
  
  .checkBoxGrid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .checkMark {
    font-size: 18px;
  }
  
  .checkBoxText {
    width: 75%;
    text-align: left;
  }

  .viewButton {
    background-color: #555555; /* 보기 버튼 배경색 */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .invisibleButton {
    visibility:hidden;
    padding: 5px 10px;
  }

  .nextButton {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }
  
  .smallDescription {
    font-size: 14px;
    color: gray;
    margin-top: 20px;
  }
  
  .deviderLine {
    border-top: 1px solid gray;
    margin: 20px 0;
  }
  