.card {
    border: none;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center; /* Horizontally center content */
    justify-content: center; /* Vertically center content */
    text-align: center;
}

.cardContent {
    padding: 16px;
}
  
.cardTitle {
    margin: 0 0 8px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap; /* 텍스트를 한 줄로 설정 */
}