/* 기본 컨테이너 설정 */
.container {

    margin: 0 auto; /* 가운데 정렬 */
    padding: 16px 16px 0; /* 위, 양옆 여백 */
    min-height: 100vh; /* 화면 전체 높이 */
    background-color: #000; /* 페이지 배경 */
    color: #fff; /* 텍스트 색상 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* 패딩 포함 */
  }
  