.container {
    padding: 20px;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.menu {
    margin-top: 20px;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 상단 정렬 */
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.menuItem > div {
    display: flex;
    flex-direction: column; /* 텍스트를 세로로 정렬 */
}

.subText {
    font-size: 14px; /* 작은 텍스트 크기 */
    color: #aaa; /* 부가 텍스트 색상 */
    margin-top: 5px; /* "로그인 옵션"과 간격 */
}

.arrow {
    font-size: 18px;
    color: #999;
}

.logout {
    color: #ff6666;
}

.deleteAccount {
    color: #ff4444;
}
